<html>
  <head>
    <title>APA regulations of select genes in cancer</title>
    {# <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> #}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
    {# <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> #}


    <style>
      div.intro {
      max-width: 1000px;
      font-family: sans-serif;
      font-size: 0.8em;
      }

      div.intro li {
      margin-bottom: 0.5em;
      }

      div.legend {
      max-width: 500px;
      margin-left: 620px;
      font-family: sans-serif;
      font-size: 0.7em;
      }

      table {
      font-size: 12px;
      display:block;
      float:left;
      width: 620px;
      }

      span.reported-case {
      color: blue;
      font-weight:bold;
      }

      img.reported-case {
      border: solid 1px blue;
      }

      table td, table th { 
      width: 5px; 
      padding: 1px; 
      margin: 0px; 
      } 

      ul {
      text-align: left;
      }

      div.link-to-figure {
      cursor: pointer;
      }

      div.link-to-figure:hover {
      background-color: yellow;
      }

      div#arc-plots { 
      max-width: 750px;
      margin-left: 620px;
      }

      div#arc-plots img {
      {# right border would be missing if 100% #}
      width: 100%;
      }

      div.img-container {
      position: relative;
      margin-bottom: 3px;
      }

      div.close-img {
      position: absolute;
      right: 20px;
      top: 5px;
      cursor: pointer;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 0.7em;
      width: 10px;
      text-align: center;
      }

      div.close-img:hover {
      background-color: red;
      color: white;
      }

      a.raw-img {
      position: absolute;
      right: 40px;
      top: 5px;
      font-size: 0.7em;
      }

    </style>

  </head>

  <body>
    <div>
      <h1>APA regulations of select genes in cancer</h1>

      <div class="intro">

        <h4>Citation</h4>
        <p class="citation">
          Xue, Z. et al. 2017. <cite>Recurrent tumor-specific
        regulation of alternative polyadenylation of cancer-related
        genes</cite>. Under review. Preprint is available
        at <a href="https://doi.org/10.1101/160960"
        target="_blank">https://doi.org/10.1101/160960</a>.
        </p>

        <h4>Introduction</h4>
        <p>
          In addition to the 77 cases (arc plots) reported in the manuscript and
          its supplemental matrials, here, we present a total of 1593 arc plots
          (114 (genes) x 14 (cancer types) - 3) for all gene-cancer type pairs
          considered in this study in an interactive webpage. Hence, these plots
          are a superset of what are presented in the manuscript. Note that for
          three pairs, (<i>NKX2-1</i>, COAD), (<i>TERT</i>, KICH), and
          (<i>TERT</i>, KIRP), no cleavage site was detected in the normal
          samples, so they have no corresponding arc plots; NA is shown instead.
          </p>
        <p>
          Such an interactive format also enables the readers to inspect their
          interested genes in more detail.
        </p>

        <h4>Instruction</h4>
        <ul>
          <li>
            To the left, the table layouts all 1596 gene-cancer type pairs with
            those that are identified to show tumor-specific APA regulations
            highlighted in <strong style="color:blue">blue</strong> (77 pairs).
          </li>
          <li>
            To the right, by clicking any gene-cancer type pair in the left
            table, the corresponding arc plot will show up on the right. Arc
            plots of tumor-specific APA cases will be highlighted
            with <strong style="color:blue">blue</strong> borders.
          </li>
        </ul>
      </div> {#end of intro#}

      <table id="apa-cases">
          <thead> 
          <tr> 
            <th>#</th> 
            <th>Gene</th> 
            <th colSpan="14">Disease</th>
          </tr> 
          </thead> 
          <tbody>
            {% for g in genes %}
              <tr>
                <td>{{loop.index}}</td>
                <td><i><strong>{{g}}<strong></i></td>
                {% for d in diseases %}
                  <td>
                    {{dd}}
                      {% if (g, d) in na_list %}
                        <span class="text-disabled">NA</span>
                      {% else %}
                        <div class="link-to-figure"
                             data-img-name="{{g}}_{{d}}.png"
                             data-reported-case="{{1 if (g, d) in reported_gd_pairs else 0}}"
                             >
                        {% if (g, d) in reported_gd_pairs %}
                          <span class="reported-case"><strong><large>{{d}}</large></strong></span>
                        {% else %}
                          <small>{{d}}</small>
                        {% endif %}
                        </div>
                      {% endif %}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>

  <div id="arc-plots">
  </div>

  <div class="legend">
    <p><i>Click on a gene-cancer type pair in the left table to see an arc plot</i></p>

    <p><strong>Legend:</strong> Inside each left-hand panel, each group of bars
    represents the frequency of a specific CS in normal (blue) and tumor (red)
    samples. Bar groups are ordered by corresponding CS genomic coordinates. The
    text box shows the number of normal (N) and tumor (T) samples that were used
    for frequency calculation. 

    {#   The label box color indicates the trend of 3' UTR length modulation in #}
    {# cancer: green meansing shortening; orange means lengthening; white means #}
    {# complex or not i.e. not fit the shortening/lengthening paradigm. #}

      Vertical arrows indicate the positions of predicted CSs. Annotated and
    predicted CSs match well, but are not expected to overlap exactly. An arrow
    pointing upwards (downwards) represents an increase (decrease) in frequency
    from normal to tumor. Arrow height represents the difference (&#916;). Bars
    and arrows of insignificant difference are colored gray. The X-axis
    represents the genomic coordinate offset by that of the first stop codon.
    The horizontal arrow indicates the gene strand.
    </p>


    <p>
    When the 3' UTR length change is too complex to be resolved into a
    shortening or lengthening trend, the corresponding text box is left
    uncolored. NMD-related transcript elements are colored in cyan. An orange
    arrow indicates that a predicted CS with a significant frequency change is
    mapped to multiple stop codons, with its associated 3' UTR length being
    ambiguous.
    </p>


    <p>
    Different from the figures in the main text, all predicted CSs are plotted
    without filtering by the low frequency (<5%) and insignificant change
    criteria. As a result, the number of CSs for the same gene in different
      cancer types may differ.
                                                 </p>

    <p>
    Besides, we also computed the distribution of expression in reads per
      kilobase of transcript per million sequenced reads (RPKMS).
      </p>
  </p>

</div>

<script> $('.link-to-figure').click(function() { console.log(this);

  var urlPath = 'http://bcgsc.ca/downloads/tasrkleat-static/off-cloud/results_data/all-apa-cases-figures/';
  var url = urlPath + $(this).attr("data-img-name");
  var imgClass = parseInt($(this).attr("data-reported-case")) ? 'reported-case' : 'unreported-case';
  {# console.log(imgClass); #}

  $('div#arc-plots').append(
  '<div class="img-container">' +
  '<img class=' + imgClass + ' src="' + url + '"/>' +
  '<div class="close-img">x</div>' +
  '<a class="raw-img" href="' + url + '" target="_blank">Large</a>' +
  '</div>');
  });

  $('div#arc-plots').on('click', 'div.close-img', function() { 
  $(this).parent().remove();
  });
</script>  

  </body>
</html>
